wireless_conf:
  - name: {{ item['ssid0-name'] }}
    number: 0
    enabled: {{ item['ssid0-status'] }}
    auth_mode: psk
    splash_page: None
    ip_assignment_mode: "Bridge mode"

  - name: {{ item['ssid1-name'] }}
    number: 1
    enabled: {{ item['ssid1-status'] }}
    auth_mode: open
    splash_page: "Click-through splash page"
    splash_timeout: "60 minutes"
    ip_assignment_mode: "NAT mode"
    walled_garden_enabled: true
    walled_garden_ranges: ["34.235.248.212/32", "52.55.235.39/32"]